body{
  padding-top: 70px;
}
.container .jumbotron{
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
  background-color: #84ff26;
  color:white;
}

.navbar{
  background: #ea00ff;
}
.navbar a{
  color:black;
}
